.SentencePage{
  display: flex;
  flex-direction: column;
}

.sentenceStimulus{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.SentencePage table.xlslike {
  margin-top: 1ex;
  border-collapse: collapse;
}

.SentencePage table.xlslike th, table.xlslike td {
  border: thin solid black;
  padding: 0.25ex 0.5ex;
}

.SentencePage .videoplayer {
  float: right;
  width: 20em;
  margin: 1ex 0 0 1ex;
}

.SentencePage .videoplayer video {
  width: 100%;
}

.SentencePage abbr[title]{
  cursor: help;
}
