.SentencePage table.xlslike {
  margin-top: 2ex;
  margin-left: 2ex;
  border-collapse: collapse;
}

.SentencePage table.xlslike th, table.xlslike td {
  border: thin solid black;
  padding: 0.5ex 1ex;
  text-align: left;
}

.SentencePage .videoplayer {
  float: right;
  width: 15em;
  margin: 1ex 0 0 1ex;
  justify-self: end;
}

.SentencePage .videoplayer video {
  width: 100%;
}

.xlslike abbr[title]{
  cursor: help;
}
