@import url('datatables.net-dt');
@import url('datatables.net-buttons-dt');
@import url('datatables.net-responsive-dt');
@import url('datatables.net-searchpanes-dt');
@import url('datatables.net-select-dt');

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: thin solid black;
}