@import url('datatables.net-dt');
@import url('datatables.net-buttons-dt');
@import url('datatables.net-responsive-dt');
@import url('datatables.net-searchpanes-dt');
@import url('datatables.net-select-dt');

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  text-align: left !important;
}

td {
  border: thin solid #cccccc;
}

div.dt-container div.dt-layout-row div.dt-layout-cell {
  display: flex;
  flex-direction: column;
  align-items: end;
}

div.dt-container div.dt-layout-row {
  align-items: flex-end;
}

.buttons-collection{
  background-color: #99CCCC !important; 
  color: white !important;
  border: none !important;
  border-radius: 8px !important;
  cursor: pointer;
  padding: 0.3rem 0.6rem !important;
}

.dt-button:hover {
  background-color: #5e8b8b !important;
  color:white !important;
}

.dt-button[tabindex="0"]{
  background-color: #99CCCC !important; 
  color: white !important;
  border: none !important;
  border-radius: 8px !important;
  cursor: pointer;
  padding: 0.3rem 0.6rem !important;
}