:root {
  --default-bg-color: #FAFAFA;
  --frame-bg-color: #99CCCC;
  --frame-fg-color: black;
  --button-bg-color: #99CCCC;
  --button-fg-color: black;
  --error-bg-color: Pink;
  --error-fg-color: DarkRed;
}

body {
  margin: 0;
}

/* The top level layout of the app is expected to be: 
    - a header,
    - optionnally, one or several nav's
    - a main
    - a footer
*/

.App {
  font-family: Roboto;
  background: var(--default-bg-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.App>header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  font-weight: 700;
}

/* link: ⌂ */

.home-link {
  font-size: 2rem;
  font-weight: lighter;
  color: black
}

.home-link:hover {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.home-link .label {
  display: inline-block;
  transform: translateX(-100%);
  opacity: 0;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
  margin-left: 0.3em;
  font-size: 1rem;
}

.home-link:hover .label {
  transform: translateX(0);
  opacity: 1;
}

.App>header>a,
.App>header abbr {
  text-decoration: none;
}

.App>header>h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
  align-self: center;
  font-size: 1.2rem;
}

.App>footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App>main {
  padding-top: 4.5em;
  margin: 0em 2.5em;
  min-height: 80vh;
  padding-bottom: 4em;
}

.App main p:first-of-type {
  margin-top: 0;
}

.homeLoginButton {
  font-weight: bold;
}

.homeLoginButton:hover,
.link-with-icon:hover {
  border-radius: 2px;
  background-color: rgba(153, 204, 204, 0.5);
}

/* class banner: full-width colored banner used for the UI layout */

.App .banner {
  color: var(--frame-fg-color);
  background-color: var(--frame-bg-color);
  min-height: 1ex;
  padding: 0 2ex;
  width: calc(100%-1ex);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.App .banner>* {
  text-align: center;
}

.App .banner>*:first-child {
  text-align: left;
}

.App .banner>*:last-child {
  text-align: right;
}

/* class error: for displaying error messages(!) */

.App>.error {
  color: var(--error-fg-color);
  background-color: var(--error-bg-color);
  border: thick solid var(--error-fg-color);
  border-radius: 1.5em;
  padding: 1em 0.6em;

}

/* class herelink: for links displayed next to headings or other elements,
   to point to that place; those links are only displayed when the parent element is hovered
*/

.herelink {
  display: none;
  padding-left: 0.5ex;
  font-size: 66%;
  text-decoration: none;
}

*:hover>.herelink {
  display: inline;
}

/* any link leading to another Workspace */

.link-with-icon {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.link-with-icon .icon {
  width: 0.7em;
  height: 0.7em;
  padding: 0.3em;
  vertical-align: middle;
}