.WorkspaceToolbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 1.2em;
  border-bottom: thick solid var(--frame-bg-color);
  background: var(--default-bg-color);
}

.App>.WorkspaceToolbar {
  margin-top: 1.1rem;
}

.WorkspaceToolbar ul {
  display: flex;
  justify-content: space-between;
  border-bottom: thick solid var(--frame-bg-color);
  margin: 0;
  padding: 0 3ex;
  list-style: none;
}

.WorkspaceToolbar li {
  padding: 0.25em 1em;
  font-weight: bold;
}

.WorkspaceToolbar li.current a {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.WorkspaceToolbar li.current {
  background: var(--frame-bg-color);
}

.WorkspaceToolbar a {
  text-decoration: none;
  color: black;
}

.WorkspaceToolbar a:hover {
  text-decoration: underline;
}

.WorkspaceToolbar .loadIndicator {
  min-width: 1em;
  display: inline-block;
  text-align: right;
}